.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: #2e363e;
}

@keyframes notificationanimation {
    0% {
        transform: none;
    }
    50%{
        transform: translateY(-5px);
    }
    100% { 
        transform: none;
    }
}
.nav__notification {
    position: absolute;
    left: 20px;
    bottom: 15px;
    animation: notificationanimation 2s ease-in-out infinite;
}

.nav__link:last-child {
    position: relative;
}
.nav__dot {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -6px;
}