.user-component {
    display: flex;
}

.user-component__column {
    display: flex;
}

.user-component__poto {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-right: 20px;
}

.user-component {
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__title {
    font-weight: 600;
    font-size: 19px;
}

.user-component__subtitle {
    margin-top: 8px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__poto--xl {
    width: 70px;
    height: 70px;
}

.user-component__poto--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__title--not-bold {
    font-weight: 500;
    font-size: 15px;
    
}


.user-component__column {

    margin-top: 5px;
    margin-bottom: 10px;

}

.user-component__time {
    color: rgba(0, 0, 0, 0.4);
    display: block;
    margin-top: -15px;
    margin-right: -30px;
}